TITANIC_SURVIVORS ANALYSIS

In [3]:
import pandas as pd
import numpy as np

READING DATA USING PANDAS

We use pandas read_csv function to read the csv file in python and pandas DataFrame method to convert file into data frame

In [10]:
df=pd.DataFrame(pd.read_csv('/content/train (1).csv'))
df.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [34]:
df.shape

(891, 11)

Description of the attributes of the dataset

Pclass:Passenger Class(1=1st,2=2nd,3=3rd)
survival:Survivl(0=no,1=yes)
name:Name
sex:Sex
age:Age
sibsb:Number of siblings/spouse aboard
parch:Number of parents/children aboard
ticket:Ticket number
fare:passenger fare(British pound)
cabin:cabin
embarked:port of embarkation(C=cherbourg;Q=queenstown;S=southamptom)

HANDELING NULL VALUES

The dataset may contain many rows and columns for which some values are missing,we can't leave those missing value as it is.
 1.either drop the entire row or column
 2.fill missing values with some appropriate value(eg.mean of particular row or column)

In [11]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

separating out the columns which have more than 35% of the values missing in the dataset.

In [13]:
drop_col=df.isnull().sum()[df.isnull().sum()>35/100*df.shape[0]]
drop_col
drop_col.index

Index(['Cabin'], dtype='object')

In [15]:
df.drop(drop_col.index,axis=1,inplace=True)
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Embarked         2
dtype: int64

In [17]:
df.fillna(df.mean(),inplace=True)
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       2
dtype: int64

because embarked contains string values,we could not calculate mean

In [18]:
df['Embarked'].describe()

count     889
unique      3
top         S
freq      644
Name: Embarked, dtype: object

for embarked attribute,we fill null values with the most repeated value in the column

In [19]:
df['Embarked'].fillna('S',inplace=True)
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

proportionality between values

In [20]:
df.corr()

             PassengerId  Survived    Pclass  ...     SibSp     Parch      Fare
PassengerId     1.000000 -0.005007 -0.035144  ... -0.057527 -0.001652  0.012658
Survived       -0.005007  1.000000 -0.338481  ... -0.035322  0.081629  0.257307
Pclass         -0.035144 -0.338481  1.000000  ...  0.083081  0.018443 -0.549500
Age             0.033207 -0.069809 -0.331339  ... -0.232625 -0.179191  0.091566
SibSp          -0.057527 -0.035322  0.083081  ...  1.000000  0.414838  0.159651
Parch          -0.001652  0.081629  0.018443  ...  0.414838  1.000000  0.216225
Fare            0.012658  0.257307 -0.549500  ...  0.159651  0.216225  1.000000

[7 rows x 7 columns]

make new column family_size by combining sibsp and parch columns

In [21]:
df['family_size']=df['SibSp']+df['Parch']
df.drop(['SibSp','Parch'],axis=1, inplace=True)
df.corr()

             PassengerId  Survived    Pclass       Age      Fare  family_size
PassengerId     1.000000 -0.005007 -0.035144  0.033207  0.012658    -0.040143
Survived       -0.005007  1.000000 -0.338481 -0.069809  0.257307     0.016639
Pclass         -0.035144 -0.338481  1.000000 -0.331339 -0.549500     0.065997
Age             0.033207 -0.069809 -0.331339  1.000000  0.091566    -0.248512
Fare            0.012658  0.257307 -0.549500  0.091566  1.000000     0.217138
family_size    -0.040143  0.016639  0.065997 -0.248512  0.217138     1.000000

In [22]:
df['Alone']=[0 if df['family_size'][i]>0 else 1 for i in df.index]
df.head()

   PassengerId  Survived  Pclass  ... Embarked family_size  Alone
0            1         0       3  ...        S           1      0
1            2         1       1  ...        C           1      0
2            3         1       3  ...        S           0      1
3            4         1       1  ...        S           1      0
4            5         0       3  ...        S           0      1

[5 rows x 11 columns]

In [23]:
df.groupby(['Alone'])['Survived'].mean()

Alone
0    0.505650
1    0.303538
Name: Survived, dtype: float64

In [28]:
df[['Alone','Fare']].corr()

          Alone      Fare
Alone  1.000000 -0.271832
Fare  -0.271832  1.000000

In [32]:
df['Sex']=[0 if df['Sex'][i]=='male' else 1 for i in df.index]
df.groupby(['Sex'])['Survived'].mean()

Sex
1    0.383838
Name: Survived, dtype: float64

In [33]:
df.groupby(['Embarked'])['Survived'].mean()

Embarked
C    0.553571
Q    0.389610
S    0.339009
Name: Survived, dtype: float64

CONCLUSION

*   Female passengers were prioritized over men.
*   People with high class or rich people have higher survival rate than others.The hierarichy might have been followed while saving the passengers.
*   Passengers travelling with their family have higher survival rate.
*   Passenger who borded the ship at cherbourg,survived more in proprtion then the others.